<form action="/text" method="post"> 
  <br />	 
  <div>Title: &nbsp; <input type="text" name="title" /></div><br />	
  <div>Body: <textarea name="body"> </textarea></div><br />  
  <input type="submit" value="save">  
</form>  