<div class="snippet">
  <div class="title" id="title"><%= @text.title %></div>	
  <div class="body" id="content"><%= @text.body %></div>
  <div class="date">Created on <%= @text.created_at.strftime("%B %d, %Y at %I:%M %p") %></div>
  
</div>